@import url("https://fonts.googleapis.com/css2?family=Bellota:wght@300;400;700&family=Roboto:wght@300;400;700&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

body,
form > *,
p {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: #555;
}

p {
  letter-spacing: 1px;
  font-weight: 300;
  line-height: 1.8rem;
  padding: 20px 0;
}

.banner p:first-child,
.about figcaption,
h1,
h2,
h3,
h4 {
  font-family: 'Bellota', cursive;
  color: #473452;
  padding: 20px 0;
}

a {
  text-decoration: none;
}

section,
.appointment {
  min-height: 50vh;
  padding: 60px 10px;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.hamburger {
  display: none;
  color: #fff !important;
  font-size: 1.6rem;
  margin-left: auto;
  padding: 5px;
  cursor: pointer;
}

header {
  background-image: url(../../img/header-bg.png);
  background-repeat: no-repeat;
  background-position: right, 0;
  background-size: contain;
  min-height: 80vh;
  position: relative;
}

header .logo {
  margin-top: 10px;
  width: 80px;
}

header .bg-image {
  position: absolute;
  top: 200px;
  left: -40px;
  width: 11%;
}

header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 1;
}

header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header nav ul li {
  list-style: none;
  text-transform: uppercase;
  height: 50px;
  padding: 20px 30px;
  text-decoration: none;
  font-size: 1.06rem;
}

header nav ul li a {
  text-align: center;
  display: block;
  color: #473452;
  text-decoration: none;
}

header nav ul li a:hover {
  color: #1ba4ce;
}

@media screen and (max-width: 768px) {
  nav {
    background-color: #1ba4ce;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    border: 1px solid green;
    width: 60%;
    right: 0;
  }
  nav ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    padding: 0;
    background-color: red;
    width: 100%;
  }
  nav ul li {
    width: 100%;
  }
  nav ul li a {
    display: inline-block;
    border: 1px solid green;
    color: #fff;
    width: 100%;
    line-height: 50px;
  }
  nav ul li a:hover {
    width: 100%;
    color: #1ba4ce;
    background-color: #fff;
  }
  .hamburger {
    display: block;
  }
}

.banner p:first-child {
  padding: 32px 0;
  color: #555;
}

.banner .banner-content {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 50%;
  padding: 0 20px;
}

.banner .banner-content p {
  width: 70%;
  color: #555;
  letter-spacing: 1px;
  font-weight: 300;
  padding: 20px 0;
  margin-bottom: 20px;
}

.banner .banner-content a:last-child {
  color: #555;
}

.banner h1 {
  width: 70%;
  color: #1e2528;
  margin: 0;
  font-size: 2.5rem;
}

.banner .play-icon {
  border: 1px solid #473452;
  border-radius: 50%;
  color: #473452;
  font-size: 1rem;
  padding: 14px;
  margin-right: 15px;
}

.about {
  text-align: center;
}

.about figure {
  width: 150px;
  margin: 0 auto;
}

.about figure img {
  max-width: 50%;
}

.about figcaption {
  padding: 32px 0;
}

.contact {
  background-color: #1ba4ce;
}

.service {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.service .s-item {
  position: relative;
  -ms-flex-preferred-size: 33.333%;
      flex-basis: 33.333%;
  height: 350px;
}

.service .s-item > img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.service .s-item .s-item-hover {
  opacity: 0;
}

.service .s-item .s-item-hover > img {
  height: 30px;
}

.service .s-item:hover .s-item-hover {
  margin: 0px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #1ba4ce;
  opacity: 0.9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.service .s-item:hover .s-item-hover > * {
  color: #fff;
}

.procedures {
  text-align: center;
}

.procedures p:first-child {
  margin: 0 auto;
  width: 70%;
}

.procedures .procedure-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.procedures .procedure-items .p-item {
  -webkit-box-shadow: 0 0 30px -15px #555;
          box-shadow: 0 0 30px -15px #555;
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
  margin: 10px;
  padding-bottom: 50px;
}

.procedures .procedure-items .p-item p {
  padding: 0px 10px 0 10px;
  margin-bottom: 30px;
}

.procedures .procedure-items .p-item img {
  padding-top: 10px;
  width: 320px;
}

.team {
  text-align: center;
}

.team .team-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.team .team-items .t-item {
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
  border: 1px solid red;
}

.appointment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.appointment .appointment-img {
  background-image: url(../../img/contact-bg.jpg);
  background-position: center;
  background-size: cover;
  border: 1px solid red;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

.appointment .appointment-form {
  background-color: #1ba4ce;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

.btn {
  min-width: 170px;
  background-color: #1ba4ce;
  color: #fff;
  padding: 15px 33px;
  text-decoration: none;
  outline: none;
  line-height: 12px;
  cursor: pointer;
  letter-spacing: 1px;
}

.btn-rectangle {
  margin-right: 20px;
}

.btn-rectangle i {
  margin-left: 10px;
}

.btn-rounded {
  border-radius: 50px;
  padding: 10px 33px;
}

.btn-dark {
  background-color: #555;
  color: #fff;
}

.btn-negative {
  color: #473452;
  background-color: #fff;
  border: 1px solid transparent;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.btn-negative:hover {
  background-color: #1ba4ce;
  color: #fff;
  border: 1px solid #fff;
}
/*# sourceMappingURL=main.css.map */