.appointment {
  background-color: $primary;
  position: relative;

  .appointment-container {
    max-width: 1140px;
    margin: 0 auto;


    .appointment-img {
      position: absolute;
      left: 0;
      height: 100%;
      background-image: url(../../img/contact-bg.jpg);
      background-position: center;
      background-size: cover;
      width: 40%;

    }

    .appointment-form {
      min-width: 400px;
      width: 60%;
      display: flex;
      flex-wrap: wrap;
      padding: 60px 0px;
      margin-left: 40%;


      button {
        font-weight: 700;
        margin: 40px 15px;
      }



    }

  }
}