header .hamburger {
  color: $primary;
}

nav {
  display: flex;
  z-index: 1;

  .logo {
    width: 100px;
  }

  ul {
    display: flex;
    // margin-right: auto;

    li {
      // display: block;
      list-style: none;
      text-transform: uppercase;
      height: 50px;
      // color: #fff;
      padding: 20px 33px;
      text-decoration: none;
      font-size: 1.06rem;
      ;

      a {

        text-align: center;
        display: block;
        color: $secondary;
        text-decoration: none;
      }

      a:hover {
        color: $primary;
      }
    }
  }
}

@media screen and (max-width:768px) {
  nav {
    background-color: $primary;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border: 1px solid green;
    width: 60%;
    position: fixed;
    right: 0;
    ;

    ul {
      flex-direction: column;
      align-items: center;
      text-align: center;
      padding: 0;
      background-color: red;
      width: 100%;

      li {
        width: 100%;

        a {

          display: inline-block;
          border: 1px solid green;
          color: #fff;
          width: 100%;
          line-height: 50px;

          &:hover {
            width: 100%;
            color: $primary;
            background-color: $light;
          }
        }
      }
    }

  }

  .hamburger {
    display: block;
  }
}