header {
  min-height: 70vh;
  position: relative;
  // display: none;

  .nav-wrapper {
    background-color: $light;
    position: fixed;
    width: 100%;
    height: 70px;
    z-index: 1;

  }

  nav {
    // height: 80px;
    display: block;
    // position: fixed;
    // left: 100px;
    top: 0;
    width: 100%;
    background-color: $light;
    max-width: 1140px;
    margin: 0 auto;

  }

  .container {
    display: flex;
    margin: 0;
    max-width: 1140px;
    margin: 0 auto;

  }

  .logo-nav {
    margin-top: 10px;
    width: 80px;
    padding-left: 20px;
    margin-right: 50px;
  }

  .logo {
    display: none;
    position: absolute;
    margin-top: 10px;
    width: 80px;
    padding-left: 20px;
    margin-right: 50px;
  }

  .bg-image {
    position: absolute;
    top: 200px;
    left: -40px;
    width: 11%;
  }

  .bg-image-right {
    position: absolute;
    top: 0px;
    right: 0;
    z-index: 2;
    width: 40%;

    img {
      width: 100%;
      object-fit: cover;
    }

    // width: 11%;
  }

  nav {
    display: flex;
    z-index: 3;
    // transition: transform 0.2s;

    ul {
      display: flex;
      align-items: center;
      padding: 0;
      // margin-: 0;

      li {
        list-style: none;
        text-transform: uppercase;
        height: 50px;
        padding: 20px 20px;
        text-decoration: none;
        font-size: 1.06rem;

        a {

          text-align: center;
          display: block;
          color: $secondary;
          text-decoration: none;
        }

        a:hover {
          color: $primary;
        }
      }
    }
  }
}





@media (max-width:$large-device) {
  header {
    min-height: 50vh;

    .hamburger {
      display: block;
    }


    nav {
      // display: none;
      // opacity: 0;
      transform: translateX(110%);
      position: absolute;
      background-color: $primary;
      flex-direction: column;
      width: 80%;
      height: auto;
      right: 0px;
      padding: 30px 0px;
      box-shadow: 0 0 30px -10px $dark;
      // transition: transform 1.3s ease-out;

      ul {
        flex-direction: column;
        padding: 0;
        width: 100%;

        li {
          width: 100%;

          a {
            text-align: right;
            color: #fff;
            // width: 100%;
            line-height: 50px;
            transition: margin 0.5s;

            &:hover {
              margin-right: 15px;
              color: $light
            }
          }
        }
      }

    }


    .logo {
      display: block;
    }

    .logo-nav {
      display: none;
    }

    nav {
      justify-content: center;
    }

    .bg-image-right {
      display: none;
    }

    .banner {
      .banner-content {
        text-align: center;
        width: 100%;

        p {
          text-align: center;
          width: 100%;
          padding: 10px 50px;
        }
      }
    }
  }
}