.btn {
  min-width: 170px;
  height: 50px;
  background-color: $primary;
  color: #fff;
  padding: 20px 33px;
  text-decoration: none;
  ;
}

.btn-rectangle {
  i {
    margin-left: 10px;
  }
}

.btn-circle {}

.btn-rounded {}

.btn-dark {}

.btn-negative {}