* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

body,
form>*,
p {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: $dark;
}

p {
  letter-spacing: 1px;
  font-weight: 300;
  line-height: 1.8rem;
  padding: 20px 0;
  // margin-block-start: 0;
  // margin-block-end: 0;
}

.banner p:first-child,
.about figcaption,
h1,
h2,
h3,
h4 {
  font-family: 'Bellota', cursive;
  color: $secondary;
  padding: 20px 0;
}

h4 {
  font-size: 1.2rem;
}

a {
  text-decoration: none;
}

section,
.appointment {
  min-height: 50vh;
  padding: 60px 10px;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  // border: 1px solid red;
}

.hamburger {
  display: none;
  color: #fff !important;
  font-size: 1.6rem;
  margin-left: auto;
  padding: 5px;
  cursor: pointer;
}